*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../Img/fondo-abstracto-tecnologia-innovacion_39608-139.jpg);
}
h1{
    text-align: center;
}

.botoni button{
    margin-left: 57%;
    border: 2px solid rgb(240, 240, 243);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    align-content: center;
    text-decoration-style: none;
    transition: all 0.5s;
    box-shadow: 5px 5px 13px 1px rgb(211, 210, 210);
}
.botoni button:hover{
    transition: all 0.5s;
    transform: scale(1.2);
    color: aliceblue;

}
.botoni button a{
   text-decoration: none;
   color: white;
   font-size: 18px;
}
.caja1{
    position: absolute;
    width: 550px;
    height: 500px;
    background:rgb(255, 255, 255, 0.2);
    margin-left: 10%;
    margin-top: 80px;
    padding: 10px;
    box-shadow: 5px 5px 13px 1px rgb(211, 210, 210);
   text-decoration: none;
   color: white;
   font-size: 18px;
}
/*Caja 2##########################################################*/
.caja2{
    width: 500px;
    height: 500px;
    background:rgb(255, 255, 255, 0.2);
    margin-left: 70%;
    margin-top: 80px;
    box-shadow: 5px 5px 13px 1px rgb(211, 210, 210);
}
.carousel {

    height: 400px;
    width: 400;

} 
.botones1 ,.botones2,.botones3,.botones4,.botones5,.botones6, button{
    margin-right: 20px;
    margin-left: 10px;
    border: 2px solid rgb(240, 240, 243);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 10px;
    align-content: center;
    text-decoration-style: none;
    transition: all 0.5s;
    box-shadow: 5px 5px 13px 1px rgb(211, 210, 210);
}
.botones1 ,.botones2,.botones3,.botones4,.botones5,.botones6, button:hover{
    transition: all 0.5s;
    transform: scale(1.2);
    color: aliceblue;
   
}
.botones1 ,.botones2,.botones3,.botones4,.botones5,.botones6, button a{
   text-decoration: none;
   color: white;
   font-size: 18px;
}
/*///////////////////////////////*/
.form-label{
    color: aliceblue;
    font-size: 20px;
}
.Ejercicio1{
    padding: 30px;
}
.Ejercicio1 h3{
    text-align: center;
    color: white;
}
.Ejercicio1 hr{
    color: aliceblue;
}
.Ejercicio1 p{
    color: white;
    font-size: 18px;
    margin-left: 30px;
}
.col-md-10{
   margin-left: 32px;
}
.boton{
    padding: 0px 30px;
    margin: 0px 10px;
}
.boton button{
    margin: 0px 5px;
    border: 2px solid rgb(240, 240, 243);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    align-content: center;
    text-decoration-style: none;
    transition: all 0.5s;
    box-shadow: 5px 5px 13px 1px rgb(211, 210, 210);
}
.boton button:hover{
    transition: all 0.5s;
    transform: scale(1.2);
    background-color: #00BFFF;
    color: white;
}
